#background{
    background-image: url('../assets/background.jpg');
    background-repeat: no-repeat, repeat;
    background-size: cover;
    /* background: rgba(255,255,255,0.7); */
    /* opacity: 0.6; */
}